SUPABASE_URL=https://gnetegenmkyzccmuqpec.supabase.co
SUPABASE_ANON_KEY=sb_publishable_5JJFmKNIY8gXY5k4fAWF3w_3dsWtMfL
FRONTEND_URL=http://localhost:5173
GOOGLE_OAUTH_REDIRECT=http://localhost:5173/auth/callback
